<form action="/show" method="post">
  <h2>Pirate</h2>
  Name: <input type="text" name="pirate[name]"/>
  Weight: <input type="text" name="pirate[weight]"/>
  Height: <input type="text" name="pirate[height]"/>
  
  <h2>Ship 1</h2>
  Name: <input type="text" name="[name]"/>
  Weight: <input type="text" name="pirate[weight]"/>
  Height: <input type="text" name="pirate[height]"/>
  
  
</form>
